<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/main"><i class="fa fa-sun-o"></i> 미트인<strong></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#home" class="page-scroll">홈</a></li>-->
        <!--<li><a href="#services-section" class="page-scroll">Services</a></li>-->
        <!--<li><a href="#works-section" class="page-scroll">나의 미팅 대상은?</a></li>-->
        <!--<li><a href="#about-section" class="page-scroll">About</a></li>-->
        <!--<li><a href="#team-section" class="page-scroll">팀</a></li>-->
        <!--<li><a href="#contact-section" class="page-scroll">지원하기</a></li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>



<header class="text-center" name="home">
  <div class="intro-text">
    <h1> <strong>축하합니다! 좋은 인연 되시길 기원합니다!</strong></h1> <br>
            <!--<div class="container" id="maincontent" tabindex="-1">-->
            <!--<div class="row">-->
            <!--    <div class="col-lg-12">-->
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
            <!--        <div class="intro-text">-->
                        <h1 class="name">미팅 상대팀은 <%= @today %> 입니다.</h1>
                        <!--<br>-->
                    </div>
                </div>
            </div>
        </div>
    
    
    <!--<a href="/main" class="btn-default btn-lg page-scroll"id="button">-->
    <!--<span>미팅결과 보기!</span>-->
    <!--<audio preload="auto">-->
    <!--    <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.mp3?raw=true" type="audio/mp3" />-->
    <!--    <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.ogg?raw=true" type="audio/ogg" />-->
    <!--</audio>-->
    

    
<!--  </div>-->
<!--</header>-->

<!--<div id="works-section">-->
<!--  <div class="container"> <!-- Container -->-->
<!--    <div class="section-title text-center center">-->
<!--      <h2>미팅 결과</h2>-->
<!--      <hr>-->
<!--      <div class="clearfix"></div>-->
      <!--<p>신촌의 인연에는 현재 40여개의 전공의 800명의 이용자가 미팅을 기다리고 있습니다.</p>-->
<!--    </div>-->
<!--    <div class="categories">-->
<!--      <ul class="cat">-->
<!--        <li>-->
<!--          <ol class="type">-->
           
<!--          </ol>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <div class="clearfix"></div>-->
<!--    </div>-->

<!--        <div class="col-sm-12 col-md-6 col-lg-6 branding app">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"> <a href="img/portfolio/paint-board-and-brush.png" rel="prettyPhoto">-->
<!--              <div class="hover-text">-->
<!--                <h4>나의 미팅 상대는?</h4>-->
<!--                <small>결과 보기</small>-->
<!--                <div class="clearfix"></div>-->
<!--              </div>-->
<!--              <img src="img/portfolio/glasses.jpg" class="img-responsive new" alt="Project Title"> </a> </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12 col-md-6 col-lg-6 web">-->
<!--          <div class="portfolio-item">-->
<!--            <div class="hover-bg"> <a href="http://map.naver.com/?query=%EC%8B%A0%EC%B4%8C+%EC%88%A0%EC%A7%91&type=SITE_1" target="_blank"> -->
            <!--rel="prettyPhoto"-->
<!--              <div class="hover-text">-->
<!--                <h4>미팅장소 알아보기</h4>-->
<!--                <small></small>-->
<!--                <div class="clearfix"></div>-->
<!--              </div>-->
<!--              <img src="img/portfolio/wine.jpg" class="img-responsive newtwo" alt="Project Title" align="middle"> </a> </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->