<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/main"><i class="fa fa-sun-o"></i> 미트인<strong></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#home" class="page-scroll">홈</a></li>-->
        <!--<li><a href="#services-section" class="page-scroll">Services</a></li>-->
        <!--<li><a href="#works-section" class="page-scroll">나의 미팅 대상은?</a></li>-->
        <!--<li><a href="#about-section" class="page-scroll">About</a></li>-->
        <!--<li><a href="#team-section" class="page-scroll">팀</a></li>-->
        <!--<li><a href="#contact-section" class="page-scroll">지원하기</a></li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>



<header class="text-center" name="home">
  <div class="intro-text">
    <h1> <strong>지원되셨습니다.</strong></h1> <br>
    <p>곧 매칭 결과가 발표됩니다!</p>
    
    <a href="/result" class="btn-default btn-lg page-scroll"id="button">
    <span>미팅결과 보기!</span>
    <!--<audio preload="auto">-->
    <!--    <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.mp3?raw=true" type="audio/mp3" />-->
    <!--    <source src="https://github.com/nclud/2011.beercamp.com/blob/gh-pages/audio/inception.ogg?raw=true" type="audio/ogg" />-->
    <!--</audio>-->
    
    </a>
    
  </div>
</header>

<div id="works-section">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>미팅 결과</h2>
      <hr>
      <div class="clearfix"></div>
      <!--<p>신촌의 인연에는 현재 40여개의 전공의 800명의 이용자가 미팅을 기다리고 있습니다.</p>-->
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <!--<li><a href="#" data-filter="*" class="active">전체</a></li>-->
            <!--<li><a href="#" data-filter=".web">문과</a></li>-->
            <!--<li><a href="#" data-filter=".app">이과</a></li>-->
            <!--<li><a href="#" data-filter=".branding">예체능</a></li>-->
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <!--<div class="row">-->
    <!--  <div class="portfolio-items" align= "middle">-->
    <!--    <div class="col-sm-6 col-md-3 col-lg-3 web">-->
    <!--      <div class="portfolio-item">-->
    <!--        <div class="hover-bg"> <a href="img/portfolio/robot.png" rel="prettyPhoto">-->
    <!--          <div class="hover-text">-->
    <!--            <h4>공대</h4>-->
    <!--            <small>전자/화학/컴퓨터/기계</small>-->
    <!--            <div class="clearfix"></div>-->
    <!--          </div>-->
    <!--          <img src="img/portfolio/robot.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col-sm-6 col-md-3 col-lg-3 app">-->
    <!--      <div class="portfolio-item">-->
    <!--        <div class="hover-bg"> <a href="img/portfolio/cubes.png" rel="prettyPhoto">-->
    <!--          <div class="hover-text">-->
    <!--            <h4>인문대</h4>-->
    <!--            <small>어문/문화/사회과학</small>-->
    <!--            <div class="clearfix"></div>-->
    <!--          </div>-->
    <!--          <img src="img/portfolio/cubes.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col-sm-6 col-md-3 col-lg-3 web">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          -->
    <!--      <div class="portfolio-item">-->
    <!--        <div class="hover-bg"> <a href="img/portfolio/molecule.png" rel="prettyPhoto">-->
    <!--          <div class="hover-text">-->
    <!--            <h4>자연대</h4>-->
    <!--            <small>자연과학</small>-->
    <!--            <div class="clearfix"></div>-->
    <!--          </div>-->
    <!--          <img src="img/portfolio/molecule.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col-sm-6 col-md-3 col-lg-3 web">-->
    <!--      <div class="portfolio-item">-->
    <!--        <div class="hover-bg"> <a href="img/portfolio/first-aid-kit.png" rel="prettyPhoto">-->
    <!--          <div class="hover-text">-->
    <!--            <h4>의대</h4>-->
    <!--            <small>의학/간호/약학</small>-->
    <!--            <div class="clearfix"></div>-->
    <!--          </div>-->
    <!--          <img src="img/portfolio/first-aid-kit.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col-sm-6 col-md-3 col-lg-3 app">-->
    <!--      <div class="portfolio-item">-->
    <!--        <div class="hover-bg"> <a href="img/portfolio/economic-investment.png" rel="prettyPhoto">-->
    <!--          <div class="hover-text">-->
    <!--            <h4>상경대</h4>-->
    <!--            <small>경제/경영</small>-->
    <!--            <div class="clearfix"></div>-->
    <!--          </div>-->
    <!--          <img src="img/portfolio/economic-investment.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="col-sm-6 col-md-3 col-lg-3 branding">-->
    <!--      <div class="portfolio-item">-->
    <!--        <div class="hover-bg"> <a href="img/portfolio/classroom.png" rel="prettyPhoto">-->
    <!--          <div class="hover-text">-->
    <!--            <h4>교육대</h4>-->
    <!--            <small>교육</small>-->
    <!--            <div class="clearfix"></div>-->
    <!--          </div>-->
    <!--          <img src="img/portfolio/classroom.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>-->
    <!--      </div>-->
    <!--    </div>-->
        <div class="col-sm-12 col-md-6 col-lg-6 branding app">
          <div class="portfolio-item1">
            <div class="hover-bg"> <a href="/result">
              <div class="hover-text">
                <h4>나의 미팅 상대는?</h4>
                <small>결과 보기</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/glasses.jpg" class="img-responsive new" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 web">
          <div class="portfolio-item1">
            <div class="hover-bg"> <a href="http://map.naver.com/?query=%EC%8B%A0%EC%B4%8C+%EC%88%A0%EC%A7%91&type=SITE_1" target="_blank"> 
            <!--rel="prettyPhoto"-->
              <div class="hover-text">
                <h4>미팅장소 알아보기</h4>
                <small></small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/wine.jpg" class="img-responsive newtwo" alt="Project Title" align="middle"> </a> </div>
   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>